<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>TobooList Vue</title>
</head>
<body>

    <div id="app" class="container">

        <!-- logo -->
        <div id="logo">
            <img :src="logoImage" alt="logo">
            <span>TobooList Vue</span>
        </div>

        <!-- input new tasks -->
        <div class="new-task">
            <input type="text" placeholder="Inserisci una nuova task" v-model="newTask" @keyup.enter="addNewTask">
            <button @click="addNewTask">Aggiungi</button>
            <!-- errore -->
            <div class="error" v-if="error">
                Devi inserire una task di almeno 8 lettere
            </div>
        </div>

        <!-- lista to do tasks -->
        <div class="task-container">
            <ul>
                <li v-for="(task, index) in tasks">
                    {{task.text}}
                    <i class="fa-solid fa-x" @click = "removeTask(index)"></i>
                </li>
            </ul>
        </div>




    </div>

    <!-- link vue -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!-- link javaScript -->
    <script src="js/script.js"></script>
</body>
</html>